* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-weight: 400;
  line-height: 1.7;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* 16px 32px 48px or 64px*/
.btn {
  color: #fff;
  font-weight: bold;
  border: none;
  background-color: #ff8000;
  padding: 1rem;
  width: 11rem;
  height: 3rem;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.project-button-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#myBtn:hover {
  border: 1px solid #ff8000;
  color: #ff8000;
  border-radius: 10px;
  background-color: #fff;
}

#contact-button {
  background-color: #ff8000;
}

#contact-button:hover {
  background-color: #fff;
  color: #ff8000;
  border: 1px solid #ff8000;
}

.project-btn {
  color: #fff !important;
  background-color: #ff8000;
  border: 2px solid #ff8000;
  padding: 1.6rem;
  width: 8rem;
  font-weight: bold;
  height: 1.75rem;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-btn:hover {
  background-color: #fff;
  border: 1px solid #ff8000;
  color: #ff8000 !important;
  width: 8.5rem;
  height: 2.5rem;
}

/* 16px 32px 48px or 64px*/
.section-about {
  padding: 4.8rem 3.2rem 3.2rem 3.2rem;
}
.section-about .heading-about {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-about .personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.8rem;
  font-size: 1.6rem;
  text-align: center;
}
.section-about .personal .image-of-me {
  border-radius: 50%;
  margin-bottom: 1.6rem;
}
.section-about .personal p {
  max-width: 50rem;
}
.section-about .features {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 800px) {
  .section-about .features {
    flex-direction: row;
  }
}
.section-about .features .feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 20rem;
}
.section-about .features .feature-box .heading-tertiary {
  font-size: 3.2rem;
}
.section-about .features .feature-list {
  text-decoration: none;
  font-size: 1.6rem;
  list-style-type: none;
  text-align: left;
}

.calendar {
  display: none;
}
@media (min-width: 800px) {
  .calendar {
    width: 75%;
    margin: 0 auto;
    display: block;
  }
}

/* 16px 32px 48px or 64px*/
.section-blog {
  background-color: white;
  border: 5px solid #000;
  min-height: 100vh;
}
.section-blog .heading-blog {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-blog .all-blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-blog .all-blogs-container .blog-container {
  margin: 1.6rem;
  text-align: center;
}

/* 16px 32px 48px or 64px*/
.section-contact {
  background-color: #252934;
  min-height: 50vh;
  padding-top: 6.4rem;
  color: white;
}
@media (min-width: 1100px) {
  .section-contact {
    min-height: 85vh;
  }
}

.heading-contact {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-links {
  display: flex;
  justify-content: center;
}
.contact-links a {
  margin: 4.8rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 2.2rem;
}
form input {
  width: 50%;
  background-color: #1e242c;
  border: none;
  height: 25px;
  margin: 3.2rem;
  color: #fff;
  padding: 5px;
}
@media (min-width: 1100px) {
  form input {
    width: 33%;
  }
}
form textarea {
  width: 50%;
  background-color: #1e242c;
  border: none;
  height: 100px;
  margin: 3.2rem;
  color: #fff;
  padding: 5px;
}
@media (min-width: 1100px) {
  form textarea {
    width: 33%;
  }
}
form button {
  margin-bottom: 4.8rem;
}

footer {
  background-color: #1e242c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding-top: 3.2rem;
  text-decoration: none;
}
footer .my-email {
  color: white;
}
footer .my-email:hover {
  color: #ff8000;
}

/* 16px 32px 48px or 64px*/
.top {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 127, 255, 0.801), rgba(0, 127, 255, 0.801)), url("../../IMG/hero-image.png");
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top nav {
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
}
.top nav a {
  margin-right: 3.2rem;
}
.top nav a:hover {
  color: #ff8000;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  z-index: 5;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.heading .heading-primary-main {
  font-size: 3rem;
  color: #fff;
}
@media (min-width: 400px) {
  .heading .heading-primary-main {
    font-size: 4rem;
  }
}
.heading .heading-primary-sub {
  font-size: 2rem;
  color: #fff;
}
@media (min-width: 400px) {
  .heading .heading-primary-sub {
    font-size: 3rem;
  }
}

/* 16px 32px 48px or 64px*/
.section-portfolio {
  background-color: #007fff;
  min-height: 100vh;
  padding-top: 4.8rem;
}
.section-portfolio .heading-portfolio {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.section-portfolio .all-projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-portfolio .all-projects-container .project-container {
  margin: 1.6rem;
  text-align: center;
}
.section-portfolio .all-projects-container .project-container .project {
  margin: 0 1.6rem;
}
.section-portfolio .all-projects-container .project-container .project .heading-tertiary {
  color: #007fff;
  font-size: 2.2rem;
}
.section-portfolio .all-projects-container .project-container .project .img-wrapper {
  display: inline-block;
  height: 188px;
  overflow: hidden;
}
@media (min-width: 500px) {
  .section-portfolio .all-projects-container .project-container .project .img-wrapper img {
    width: 280px;
  }
}

.project-hover {
  background-size: cover;
  background-position: top;
  height: 188px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  border: none;
  margin: 1.6rem;
  padding: 1.6rem;
  width: 300px;
}
@media (min-width: 400px) {
  .project-hover {
    width: 320px;
  }
}
.project-hover .project-text-hover {
  display: none;
}

.project-hover:hover {
  background-image: linear-gradient(to bottom, #252934, #252934), url("../../IMG/hows-the-weather.png") !important;
  background-size: cover;
  background-position: top;
  position: relative;
  border-radius: 10px;
}
.project-hover:hover .project-text-hover {
  display: flex;
  color: white;
  font-size: 1.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-hover:hover .project-text-hover .list-of-libraries {
  display: flex;
  text-decoration: none;
  font-size: 1.4rem;
  justify-content: space-between;
}
.project-hover:hover .project-text-hover .list-of-libraries li {
  margin: 0.3rem;
}
.project-hover:hover .project-text-hover button {
  color: black;
}

/*# sourceMappingURL=index.css.map */
