.top {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(111, 201, 213, 0.801), rgba(40, 66, 180, 0.801)) , url('IMG/hero-image.png');
    background-size: cover;
    background-position: top;
    position: relative;

    .heading-primary-main {

        text-align: center;
        font-size: 3rem;
        color: white;

    }

    .heading-primary-sub {

        text-align: center;
        font-size: 3rem;
        color: white;

    }

    .btn {
        color: white;
        border: 2px solid black;
    }

}
