/* 16px 32px 48px or 64px*/
.section-blog {
  background-color: white;
  border: 5px solid z;
  min-height: 100vh;
  .heading-blog {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .all-blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .blog-container {
      margin: 1.6rem;
      text-align: center;
      width: 300px;
      border: 2px solid black;
      height: 480px;
      border-radius: 10px;
      position: relative;
      @media (min-width: 400px) {
        width: 320px;
        height: 520px;
      }
      @media (min-width: 700px) {
        width: 500px;
        height: 700px;
      }

      .blog {
        .dev-image {
          position: absolute;
          bottom: 7.5rem;
          left: 1rem;
          width: 30px;
          @media (min-width: 700px) {
            width: 50px;
          }
        }
        .blog-tags {
          width: 90%;
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          bottom: 2rem;
          left: 1.5rem;
          .blog-tag {
            font-weight: 700;
            font-size: $default-font-size;
            margin-right: 1rem;
          }
        }
        img {
          width: 100%;
        }
        h3 {
          font-size: $subheader-font-size;
        }
        p {
          font-size: $default-font-size;
          text-align: left;
          margin-left: 1rem;
          margin-top: 1rem;
          margin-right: 1rem;

          @media (min-width: 700px) {
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}

// <!-- <section class="section-blog">
//   <h3 class="heading-blog">Blog</h3>
//   <div class="all-blogs-container">
//     <div class="blog-container">
//       <div class="blog">
//         <h3 class="heading-tertiary">Post Name</h3>
//         <img src="https://via.placeholder.com/400x240" />
//       </div>
//     </div>
//     <div class="blog-container">
//       <div class="blog">
//         <h3 class="heading-tertiary">Post Name</h3>
//         <img src="https://via.placeholder.com/400x240" />
//       </div>
//     </div>
//     <div class="blog-container">
//       <div class="blog">
//         <h3 class="heading-tertiary">Post Name</h3>
//         <img src="https://via.placeholder.com/400x240" />
//       </div>
//     </div>
//     <div class="blog-container">
//       <div class="blog">
//         <h3 class="heading-tertiary">Post Name</h3>
//         <img src="https://via.placeholder.com/400x240" />
//       </div>
//     </div>
//     <div class="blog-container">
//       <div class="blog">
//         <h3 class="heading-tertiary">Post Name</h3>
//         <img src="https://via.placeholder.com/400x240" />
//       </div>
//     </div>
//     <div class="blog-container">
//       <div class="blog">
//         <h3 class="heading-tertiary">Post Name</h3>
//         <img src="https://via.placeholder.com/400x240" />
//       </div>
//     </div>
//   </div>
// </section> -->
