.top {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 127, 255, 0.801),
      rgba(0, 127, 255, 0.801)
    ),
    url("../../IMG/hero-image.png");
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    color: $color-white;
    font-size: $default-font-size;
    position: absolute;
    top: 1rem;
    left: 1rem;
    a {
      margin-right: 2rem;
    }

    a:hover {
      color: $color-secondary;
    }
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;

  z-index: 5;
  top: 0;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  .heading-primary-main {
    font-size: 3rem;
    color: $color-white;

    @media (min-width: 400px) {
      font-size: 4rem;
    }
  }
  .heading-primary-sub {
    font-size: 2rem;
    color: $color-white;
    @media (min-width: 400px) {
      font-size: 3rem;
    }
  }
}
