/* 16px 32px 48px or 64px*/
.section-portfolio {
  background-color: #007fff;
  min-height: 100vh;
  padding-top: 4.8rem;
  .heading-portfolio {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .all-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project-container {
      margin: 1.6rem;
      text-align: center;

      .project {
        margin: 0 1.6rem;
        .heading-tertiary {
          color: $color-primary;
          font-size: $subheader-font-size;
        }
        .img-wrapper {
          display: inline-block;
          height: 188px;
          overflow: hidden;

          img {
            @media (min-width: 500px) {
              width: 280px;
            }
          }
        }
      }
    }
  }
}

.project-hover {
  background-size: cover;
  background-position: top;
  height: 188px;
  overflow: hidden;

  position: relative;
  display: inline-block;
  border-radius: 10px;
  border: none;
  margin: 1.6rem;
  padding: 1.6rem;
  width: 300px;

  @media (min-width: 400px) {
    width: 320px;
  }
  @media (min-width: 700px) {
    width: 500px;
    height: 340px;
  }

  .project-text-hover {
    display: none;
  }
}

.project-hover:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(37, 41, 52, 1),
      rgba(37, 41, 52, 1)
    ),
    url("../../IMG/hows-the-weather.png") !important;
  background-size: cover;
  background-position: top;
  position: relative;
  border-radius: 10px;

  .project-text-hover {
    display: flex;
    color: white;
    font-size: 1.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media (min-width: 700px) {
      font-size: 2rem;
    }

    .list-of-libraries {
      display: flex;
      text-decoration: none;
      font-size: 1.4rem;
      justify-content: space-between;

      li {
        margin: 0.3rem;
      }
    }

    button {
      color: black;
    }
  }
}
