.section-portfolio {
  background-color: rgba(86, 128, 233, 1);

  .heading-portfolio {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .all-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project-container {
      margin: 1rem;
      text-align: center;

      .heading-tertiary {
        color: white;
        font-size: $subheader-font-size;
      }
    }
  }
}
