.section-portfolio {
  background-color: rgba(86, 128, 233, 1);
  min-height: 100vh;

  .heading-portfolio {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .all-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project-container {
      margin: 1rem;
      text-align: center;

      .project {
        .heading-tertiary {
          color: white;
          font-size: $subheader-font-size;
        }
        .img-wrapper {
          display: inline-block;
          height: 188px;
          overflow: hidden;
          /*WIP: adding transparent layer and text on hover */
          // img:hover {
          //   -moz-box-shadow: 0 0 10px #ccc;
          //   -webkit-box-shadow: 0 0 10px #ccc;
          //   box-shadow: 0 0 10px #ccc;
          // }
        }
      }
    }
  }
}
