/* 16px 32px 48px or 64px*/
.btn {
  color: $color-white;
  font-weight: bold;
  border: none;
  background-color: $color-secondary;
  padding: 1rem;
  width: 11rem;
  height: 3rem;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.project-button-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#myBtn:hover {
  border: 1px solid $color-secondary;
  color: $color-secondary;
  border-radius: 10px;
  background-color: $color-white;
}

#contact-button {
  background-color: $color-secondary;
}

#contact-button:hover {
  background-color: $color-white;
  color: $color-secondary;
  border: 1px solid $color-secondary;
}
.project-btn {
  color: $color-white !important;
  background-color: $color-secondary;
  border: 2px solid $color-secondary;
  padding: 1.6rem;
  width: 8rem;
  font-weight: bold;
  height: 1.75rem;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-btn:hover {
  background-color: $color-white;
  border: 1px solid $color-secondary;
  color: $color-secondary !important;
  width: 8.5rem;
  height: 2.5rem;
}
