$color-primary: #007fff; //#5680e9;

$color-secondary: #ff8000;

$color-tertiary: #ffc080;

$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$subheader-font-size: 2.2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$breakpoint-tablet: 800px;
$breakpoint-desktop: 1100px;
